name: Deploy Production via SCP

on:
  push:
    branches:
      - main # The workflow will be triggered on every push to the 'main' branch

jobs:
  deploy:
    runs-on: ubuntu-latest # Uses a Linux runner hosted by GitHub

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 # Downloads the repository code
        with:
          # Add these two lines to include submodules
          submodules: true

      - name: Deploy via SCP
        uses: appleboy/scp-action@v1 # Uses the SCP action from appleboy
        with:
          host: ${{ secrets.SSH_HOST }}           # IP address or hostname of the server
          username: ${{ secrets.SSH_USER }}       # SSH username on the server
          password: ${{ secrets.SSH_PASSWORD }} # SSH private key (stored as a secret)
          port: 22                                # SSH port (default 22)
          source: "*"                        # Path of files to copy from the runner
          target: "."          # Destination path on the server
